@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.canvasWrapper {
  width:100%;
  height:100%;
  overflow:hidden;
  position: fixed;
  cursor: none;
}

div#title{
  -webkit-text-stroke: thin;
  -webkit-text-stroke-color: white;
  filter: invert(1);
  color: black;
  font-family: 'Lacquer', sans-serif;
  position: fixed;
  pointer-events: none;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 3em;
}

h1#titleText{
  margin: 0;
  pointer-events: none;
}

#pageElems{
  pointer-events: none;
  position: fixed;
  bottom: 0%;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}

.pageItem{
  align-self: center;
}

.pageElemsActive{

}
